.loginCover{
    width: 55%;
    margin: 50px auto;
    height: -moz-fit-content;
    height: fit-content;
    padding: 8px 47px;
    border: 1px solid #3ab1b7;
    border-radius: 12px;
}
.userLable{
    font-weight: 500;
    width: 55%;
}
.validationImg{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 11px;
    top: 41px;
   
}
.elementsCover{
    position: relative;
    margin: 0 0 10px 0;
}  