<div class="loginCover">
    <!-- Email input -->
    <div class="form-outline ">
        <label class="form-label">Email address</label>
        <input type="email" id="form2Example1" class="form-control" [(ngModel)]="email" />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input type="password" id="form2Example2" class="form-control" [(ngModel)]="password" />
    </div>
    <div class="row " style="text-align: right;">
        <div class="col-4 d-flex justify-content-center"></div>
        <div class="col-8">
            <a class="navClass" (click)="forgotPasword()" data-bs-toggle="modal" class="navClass" data-bs-target="#exampleModal">Forgot
                password?</a>
        </div>
    </div>
    <!-- Submit button -->
    <div style="text-align: center;" (click)="login()"> <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button> </div>

    <!-- Register buttons -->
    <div class="text-center">
        <p>Not a member? <a class="navClass" (click)="signIn()">Register</a></p>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #forgotModel>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Forgot Password </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline mb-4" *ngIf="forgotPassFlag">
                    <label class="form-label" for="form2Example2">Enter Mail Id</label>
                    <input type="email" id="form2Example2" class="form-control" [(ngModel)]="fortgotEmail" />
                    <label class="form-label" for="form2Example2">User Name</label>
                    <input type="name" id="form2Example2" class="form-control" [(ngModel)]="fortgotName" />
                </div>
                <div class="form-outline mb-4" *ngIf="!forgotPassFlag">
                    <div class="form-outline mb-4" class="elementsCover">
                        <label class="form-label">Password</label>
                       <input type="password" class="form-control" [(ngModel)]="restpassword"  (keyup)="checkValidation('pass')"/>
                       <img [src]="passFlag ? '../../assets/images/success.png' : '../../assets/images/invalied.png'" class="validationImg" id="passImg" alt="">
                     </div>
                     <div class="form-outline mb-4" class="elementsCover">
                       <label class="form-label">Repeat your password</label>
                       <input type="password"  class="form-control" [(ngModel)]="repeatPass" (keyup)="checkValidation('rePass')"  />
                       <img [src]="rePassFlag ? '../../assets/images/success.png' : '../../assets/images/invalied.png'"  class="validationImg" id="rePassImg" alt="">
                     </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" *ngIf="forgotPassFlag" (click)="changePassword()" >Verify</button>
                <button type="button" class="btn btn-primary" *ngIf="!forgotPassFlag" (click)="resetPassword()" >Reset Password</button>
            </div>
        </div>
    </div>
</div>
